.dashboard {
    flex: 1;
    padding: 20px;
    display: flex;
    margin-top: 3px;
    flex-direction: column;

  }
  
  .dashboard-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
  }
  

  .dashboard-main {
    flex: 1.9;
  }
  

  .dashboard-side {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  .product-health-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  /* 60% width for ProductSection */
  .product-health-row > :first-child {
    width: 60%;
  }
  
  /* 40% width for HealthPackageSection */
  .product-health-row > :last-child {
    width: 50%;
  }
  