.product-section {
   
  
    padding: 20px;
  
 
  }
  
  .product-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    padding: 8px 0; 

    border-bottom: 1px solid #e5e7eb;
  }
  
  .product-item:last-child {
    border-bottom: none;
  }
  
  .product-image {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: #f3f4f6;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-details {
   display: flex;
   gap: 20px;
  }
  
  .product-name {
    font-size: 13px;
    margin-bottom: 2px;
  }
  
  
  .product-pricing {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .current-price,
.original-price {
  font-size: 12px;
}

  .original-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #667085;
  }
  
  .product-arrow {
    color: #667085;
    cursor: pointer;
  }
  
  .product-card {
    display: flex;
    background-color:white;
    border-radius: 8px;
    padding: 6px 10px; 
  }
  .section-main {
display: flex;
justify-content:space-between ;
  }
  
  .section-header {
    font-size: 14px;
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
    margin-top: 3px;
  }
  .view-all{
    margin-top: 10px;
  }
  
  
 
  